@charset "UTF-8";
.page_header h1 {
  position: relative;
  left: 20px;
  font-weight: 700;
  color: #5192AE;
  margin-bottom: 25px;
}

.page_header h1::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 73%;
  background-color: #5192AE;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -20px;
}

@media (max-width: 767px) {
  .page_header h1 {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .page_header h1 {
    font-size: 1.7rem;
  }
}

/*css命名
 顯示屬性>盒模型>背景>行高>文本屬性>其他
(1)頁面結構

- 容器: container
- 頁頭：header
- 內容：content/container
- 頁面主體：main
- 頁尾：footer
- 導航：nav
- 側欄：sidebar
- 欄目：column
- 頁面外圍控制整體布局寬度：wrapper

(2)導航

- 導航：nav
- 主導航：mainNav
- 子導航：subNav
- 頂導航：topNav
- 邊導航：sidebar
- 左導航：leftSidebar
- 右導航：rightSidebar
- 菜單：menu
- 子菜單：subMenu
- 標題: title
- 摘要: summary

(3)功能

- 標誌：logo
- 廣告：banner
- 登陸：login
- 登錄條：loginBar
- 註冊：registered
- 搜索：search
- 功能區：shop
- 標題：title
- 加入：joinUs
- 狀態：status
- 按鈕：btn
- 滾動：scroll
- 標簽頁：tab
- 文章列表：list
- 提示信息：msg
- 當前的: current
- 小技巧：tips
- 圖標: icon
- 註釋：note
- 指南：guild
- 服務：service
- 熱點：hot
- 新聞：news
- 下載：download
- 投票：vote
- 合作夥伴：partner
- 友情鏈接：link
- 版權：copyright

 BUGFIX: xxxx by name 2012-04-13 18:32 用於標註修改、待辦等信息*/
.page_header .sub_banner {
  width: 100%;
  height: 25vw;
  background-size: cover;
  margin-bottom: 70px;
}

.page_header nav {
  position: relative;
}

.page_header nav .breadcrumb {
  background-color: unset;
  padding: 0;
  padding-bottom: 60px;
}

.page_header nav .breadcrumb .breadcrumb-item a {
  color: black;
}

.page_header nav .breadcrumb .breadcrumb-item:not(:first-child)::before {
  content: '＞';
  display: inline-block;
  text-decoration: none;
}

.page_header nav .breadcrumb .breadcrumb-item.active {
  color: #004460;
  position: relative;
  text-decoration: underline;
  display: inline-block;
}

main {
  padding-bottom: 150px;
}

main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .container .title {
  color: #0D7C7C;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}

main .container .date_viewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #C3C1C1;
  font-size: 20px;
  height: 30px;
}

main .container .date_viewer img {
  margin-left: 20px;
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

main .container hr {
  border: 4px solid #C3C1C1;
}

main .container .pics {
  margin-bottom: 20px;
}

main .container .pics img {
  width: 100%;
}

main .container .pics .swiper-button-prev,
main .container .pics .swiper-button-next {
  width: 70px;
  height: 70px;
  color: white;
  font-weight: 600;
  background-color: #2D2F2F;
}

main .container .pics .swiper-button-prev {
  left: 0px;
}

main .container .pics .swiper-button-next {
  right: 0px;
}

main .container .pics .swiper-pagination {
  width: 100px;
  height: 55px;
  background-color: #7E7E7F;
  color: white;
  bottom: 0px;
  left: unset;
  right: 0px;
  font-size: 24px;
  line-height: 55px;
}

main .container .content p {
  font-size: 20px;
  line-height: 34px;
  margin-bottom: 35px;
}

main .container a {
  text-decoration: none;
  display: table;
  margin: 0 auto;
}

main .container a:hover .back {
  background-color: #004460;
}

main .container a .back {
  margin-top: 84px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 225px;
  height: 60px;
  font-size: 26px;
  font-weight: 600;
  background-color: #0D7C7C;
}
/*# sourceMappingURL=02-02-tender_insider.css.map */
